<app-navbar></app-navbar>
<div class="parent">

  <div class="left-section">
    <div class="title">Postes:</div>
    <div class="container">

      <div class="profil-img"><i class="bi bi-person-circle"></i></div>

      <div class="leading-5">
        <h4 class="font-bold text-black">Mellisa Bay</h4>
        <span>3h ago</span>
      </div>
      <div class="font-normal px-7 py-3 text-black">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto consectetur consequuntur culpa delectus
          doloribus enim id impedit incidunt provident quasi ratione recusandae reprehenderit rerum sapiente suscipit totam
          vel voluptate voluptatem, voluptatibus. Alias assumenda commodi dolor eaque error et eum illum magni maxime nam nemo
          perferendis, perspiciatis quisquam tenetur ullam. A aliquam architecto ducimus laboriosam odit? Adipisci asperiores
          consequatur dicta dolor excepturi minima odio quo sequi sit, soluta! Beatae corporis deleniti eum laudantium
          nesciunt perferendis, quo voluptas voluptatibus. Asperiores atque beatae culpa, ex expedita illo impedit molestiae
          nemo, nulla obcaecati odio placeat quam quas quod reiciendis repudiandae voluptas voluptates voluptatum.</p>
      </div>
      <div class="buttons-container">
        <button ><i class="bi bi-heart"></i><span> Like</span></button>
        <button><i class="bi bi-chat"></i><span> Contacter</span></button>
      </div>
    </div>
    <div class="container">
      <div class="profil-img"><i class="bi bi-person-circle"></i></div>

      <div class="leading-5">
        <h4 class="font-bold text-black">Aya Elazouan</h4>
        <span>5h ago</span>
      </div>
      <div class="font-normal px-7 py-3 text-black">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto consectetur consequuntur culpa delectus
          doloribus enim id impedit incidunt provident quasi ratione recusandae reprehenderit rerum sapiente suscipit totam
          vel voluptate voluptatem, voluptatibus. Alias assumenda commodi dolor eaque error et eum illum magni maxime nam nemo
          p</p>
      </div>
      <div class="buttons-container">
        <button ><i class="bi bi-heart"></i></button>
        <button><i class="bi bi-chat"></i></button>
      </div>
    </div>
  </div>

  <div class="right-section">
    <h3>Prêt à faire équipe et à conquérir de nouveaux sommets ensemble avec ce poste ?"</h3>
    <div class="poste-container">
      <form class="form" *ngIf="role === 'Invest'; else startupDefenition">
        <div class="form-control">
          <input type="text" placeholder="Domain" id="domain" [(ngModel)]="posteInv.secteur" name="domain" required>
        </div>
        <div class="form-control">
          <input type="text" placeholder="Titre" id="titre" [(ngModel)]="posteInv.titre" name="titre" required>
        </div>
        <div class="form-control">
          <textarea placeholder="Description" id="description" [(ngModel)]="posteInv.description" name="description" required></textarea>
        </div>
        <div class="form-control">
        <input type="file" accept="image/*" id="image" name="image" (change)="onFileSelected($event)" style="display:none;">
          <i class="bi bi-images "></i>
        <input placeholder="Sélectionner une image"  onclick="document.getElementById('image').click();">
        </div>
        <div class="button-container">
          <div class="button violet-button">
            <input type="submit" (click)="submit()" value="Poster">
          </div>
          <div class="button red-button">
            <input  type="submit" value="Annuler">
          </div>
        </div>
      </form>
      <ng-template #startupDefenition>
      <form class="form" >
        <div class="form-control">
          <input type="text" placeholder="Domain" id="domain" [(ngModel)]="posteStar.secteur" name="domain" required>
        </div>
        <div class="form-control">
          <input type="text" placeholder="Titre" id="titre" [(ngModel)]="posteStar.titre" name="titre" required>
        </div>
        <div class="form-control">
          <textarea placeholder="Description" id="description" [(ngModel)]="posteStar.description" name="description" required></textarea>
        </div>
        <div class="form-control">
        <input type="file" accept="image/*" id="image" name="image"  style="display:none;">
          <i class="bi bi-images "></i>
        <input placeholder="Sélectionner une image"  onclick="document.getElementById('image').click();">
        </div>
        <div class="button-container">
          <div class="button violet-button">
            <input type="submit" (click)="valider()" value="Poster">
          </div>
          <div class="button red-button">
            <input  type="submit" value="Annuler">
          </div>
        </div>
      </form>
    </ng-template>
    </div>
  </div>

</div>
