<div class="parent">
  <nav class="navbar">
    <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <img src="assets/logo.png" class="logo">

      <ul class="menu-items" style="margin-left: auto;"> <!-- Utilisation de "margin-left: auto;" pour éloigner les éléments vers la droite -->
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><i class="bi bi-person-circle" (click)="MyProfile()"></i></li>
        <li><i class="bi bi-bell-fill" (click)=" openModalNotif(modalNotif)" ></i></li>
        <li><i class="bi bi-chat-left-text" (click)="mychat()"></i></li>
        <li><i class="bi bi-box-arrow-right" (click)="logout()"></i></li>
      </ul>
    </div>
  </nav>
</div>
<ng-template #modalNotif>
  <app-notifiacation-list></app-notifiacation-list>
</ng-template>
