@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.parent{
  margin: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(123deg,#120F4D,#95a2ee);

}
.container{
  margin-top: 150px;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.container  .title{
  font-size: 25px;

  position: relative;
  color: #120F4D;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre portée */
  transition: color 0.3s ease;
}
.container  .title:hover {
  color:  #5CE1E6;
}

.container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(123deg,#8C52FF,#120F4D);
}
.container form .user_details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .user_details .input_pox{

  margin: 20px 0 12px 15px;
  width: calc(100% / 2 - 20px);
}
.user_details .input_pox .datails{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user_details .input_pox input{
  height: 45px;
  width: 100%;
  outline: none;

  padding: 12px 0 12px 37px;
  font-size: 16px;

  max-width: 95%;
  border: 2px solid #120F4D;
  background-color: rgb(232, 232, 232);
  color: #8C52FF;
  border-radius: 6px;
  transition: all 0.3s ease-in-out 0s;

}

.user_details .input_pox input:focus,
.user_details .input_pox input:valid{
  border-color:  #5CE1E6;
}



form .gender_details .gender_title{
  font-size: 20px;
  font-weight: 500;
  color:#8C52FF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0.1, 0.1); /* Ajoute une ombre portée */
  transition: color 0.3s ease;

}
form .gender_details .gender_title:hover{
  color:darkred;
}
form .gender_details .category{
  display: flex;
  width: 40%;
  margin: 14px 0;
  justify-content: space-between;
}
.gender_details .category label{
  display: flex;
}
.gender_details .category .dot{
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}
#Invest:checked ~ .category label .one,
#startup:checked ~ .category label .two{
  border-color: #d9d9d9;
  background-color: #8C52FF;
}
form input[type="radio"]{
  display: none;
}
form .button{
  height: 45px;
  margin: 45px 0;
}
form .button-container {
  display: flex;
  justify-content: center; /* Alignement horizontal au centre */
}

form .button {
  margin-right: 40px; /* Ajustez cette valeur selon l'espace désiré */
}

form .button input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form .violet-button input {
  background-color: #8C52FF;
}

form .red-button input {
  background-color: red;
}

form .button :hover {
  background-color: #5CE1E6;
}


@media (max-width: 584px){
  .container{
    max-width: 100%;
  }
  form .user_details .input_pox{
    margin-bottom: 15px;
    width:100%;
  }
  form .gender_details .category{
    width: 100%;
  }
  .container form .user_details{
    max-height: 300px;
    overflow: scroll;
  }


}
.form-control {
  position: relative;

}

.form-control i {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #8C52FF;
}


.self-stretch.relative {
  font-style: italic; /* Met le texte en italique */
  font-weight: 100; /* Met le texte en poids de police plus léger */
  color: darkred; /* Couleur du texte */
  font-size: small;
}


.container form .user_details1{

  flex-wrap: wrap;
  justify-content: space-between;
}
form .user_details1 .input_pox{
  margin-bottom: 15px;
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.user_details1 .input_pox .datails{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user_details1 .input_pox input{
  height: 45px;
  width: 100%;
  outline: none;

  padding: 12px 0 12px 37px;
  font-size: 16px;

  max-width: 95%;
  border: 2px solid #00569f1c;
  background-color: rgb(232, 232, 232);
  color: #8C52FF;
  border-radius: 6px;
  transition: all 0.3s ease-in-out 0s;

}

.user_details1 .input_box textarea {
  height: 100px; /* Hauteur de la zone de texte */
  width: 100%;
  outline: none;
  padding: 12px;
  font-size: 16px;
  max-width: 95%;
  border: 2px solid #120F4D;
  background-color: rgb(232, 232, 232);
  color: #8C52FF;
  border-radius: 6px;
  transition: all 0.3s ease-in-out 0s;
  /* Transition */
}
.user_details1.input_pox textarea:focus,
.user_details1 .input_pox textarea:valid{
  border-color:  #5CE1E6;
}

.user_details.input_pox textarea:focus,
.user_details.input_pox textarea:valid{
  border-color:  #5CE1E6;
}
.avatar-image {
  display: block;
  border: none;
  position: absolute; /* Position absolue par rapport à son conteneur parent */
  top: 30px; /* Alignement sur le haut */
  left: 30px; /* Alignement sur la gauche */
  width: 80px; /* Taille de l'image */
  height: auto; /* Ajustement automatique de la hauteur */
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.parent1{
  margin: -10px;
  display: flex;
  height: 150vh;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(123deg,#120F4D,#95a2ee);
}
.footer-bottom {
  margin-top: 100px;
  text-align: center;
}

.sub2 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 90px 20px 0; /* Marges ajustées pour l'espacement */
  font-size: 20px;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;

}

li {
  margin-left: 30px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: #120f4d;
  text-decoration: underline;
}

