<div class="modal" >
    <div class="modal-content">
        <div class="popup-container " >
            <div class="main" >
                <div class="card">
                    <div class="card-body2">
                        <div class="buttons-container">

                            <button (click)="close()" ><i class="bi bi-x"></i></button>
                        </div>

                        <div class="leading-2">
                          <i class="bi bi-check2-square"></i>
                            <h5 class="font-bold text-black" style="color:#120F4D; text-align:center;">Valider??</h5>
                            <p>Votre objectif initial a été atteint avec succès. et vous n'avez plus besoin de le faire circuler davantage.</p>

                        </div>

                        <div class="button-container">
                            <div class="button green-button">
                                <input type="submit" (click)="submit()" value="Oui, sure">
                            </div>
                            <div class="button gray-button">
                                <input type="submit" value="Non, annuler">
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
