@import "bootstrap-icons/font/bootstrap-icons.css";

*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parent{
  font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
  display: none;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar{
  box-shadow: 0px 5px 10px 0px #120F4D;
  position: fixed;
  width: 100%;
  background: linear-gradient(123deg,#8C52FF,#120F4D);
  color: #000;
  opacity: 0.85;
  z-index: 100;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items{

  display: flex;

}
.logo{
  display: flex;
  position: absolute;
  border: none;
  width: 55px; /* Taille de l'image */
  height: auto; /* Ajustement automatique de la hauteur */
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  left: 5px; /* Ajustez cette valeur selon votre besoin */
  top: 5px;

}

.menu-items li{
  list-style: none;
  font-size: 1.3rem;
  margin-left: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
  flex-grow: 9;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover{
  color:#5CE1E6;
}

@media (max-width: 768px){
  .navbar{
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines{
    display: block;
  }

  .navbar-container{
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"]{
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines{
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1{
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2{
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items{
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow:  5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li{
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }



  .navbar-container input[type="checkbox"]:checked ~ .menu-items{
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
    transform: rotate(-45deg);
  }

}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

.bi:hover {
  color: #5CE1E6; /* Change la couleur au survol */
}

/* Style de base pour l'icône */
.bi-person-circle {
  font-size: 24px; /* Taille de l'icône */
  position: relative; /* Position relative pour positionner la bulle */
}

/* Style de l'indicateur "en ligne" */
.bi-person-circle.online::after {
  content: ''; /* Contenu vide */
  position: absolute; /* Position absolue */
  top: 50%; /* Position à partir du haut */
  left: calc(100% + 4px); /* Position à partir de la droite (ajustez si nécessaire) */
  transform: translateY(-50%); /* Centre verticalement */
  width: 8px; /* Largeur de la bulle */
  height: 8px; /* Hauteur de la bulle */
  background-color: #28a745; /* Couleur de fond verte */
  border-radius: 50%; /* Bord arrondi pour former une bulle */
}


