
<div class="main popup" >

<div class="card">
  <div class="card-body">

    <div class="buttons-container">


      <button class="red-button"><i class="bi bi-x"></i></button>
    </div>

    <table >
      <tbody>
      <tr>
        <td>Nom</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Prenom</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Telephone</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Profession</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Description</td>
        <td style="vertical-align: top;">:</td>
        <td><textarea cols="40" rows="4"></textarea></td>
      </tr>
      <tr>

        <button type="submit">Enregistrer les modifications</button>

      </tr>
      </tbody>
    </table>
    <ng-template #startupDefenition>
      <table>
        <tbody>
        <tr>
          <td>Le nom officiel</td>
          <td>:</td>
          <td>El Azouan</td>
        </tr>
        <tr>
          <td>Date de creation</td>
          <td>:</td>
          <td>28/05/2023</td>
        </tr>
        <tr>
          <td>Fondateur</td>
          <td>:</td>
          <td>aya eljoj</td>
        </tr>
        <tr>
          <td>Domain d'activité</td>
          <td>:</td>
          <td>info</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td>aya@gmail.com</td>
        </tr>
        <tr>
          <td>Site Web</td>
          <td>:</td>
          <td>ayaihgio)i.com</td>
        </tr>
        <tr>
          <td>Ville</td>
          <td>:</td>
          <td>tanger</td>
        </tr>
        <tr>
          <td>Adresse</td>
          <td>:</td>
          <td>bbbbbb</td>
        </tr>

        </tbody>
      </table>

    </ng-template>
  </div>
</div>
</div>
