<div class="modal" >
  <div class="modal-content">
<div class="popup-container " >
<div class="main" >

<div class="card">
  <div class="card-body">
    <div class="buttons-container">


      <button (click)="close()" class="red-button"><i class="bi bi-x"></i></button>
    </div>
    <table  *ngIf="role === 'Invest'; else startupDefenition" >
      <tbody>
      <tr>
        <td>Nom</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Prenom</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>CIN</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>:</td>
        <td><input></td>
      </tr>

      <tr>
        <td>Telephone</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Mot de passe</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td>Comfirmer Mot de passe</td>
        <td>:</td>
        <td><input></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Description</td>
        <td style="vertical-align: top;">:</td>
        <td><textarea cols="40" rows="4"></textarea></td>
      </tr>
      <tr>

        <button (click)="submit()" type="submit">Enregistrer les modifications</button>

      </tr>
      </tbody>
    </table>
    <ng-template #startupDefenition>
      <table>
        <tbody>
        <tr>
          <td>Le nom officiel</td>
          <td>:</td>
          <td><input value="{{startup.nomstr}}"  ></td>
        </tr>

        <tr>
          <td>Fondateur</td>
          <td>:</td>
          <td><input></td>
        </tr>

        <tr>
          <td>Email</td>
          <td>:</td>
          <td><input></td>
        </tr>
        <tr>
          <td>Mot de passe</td>
          <td>:</td>
          <td><input></td>
        </tr>
        <tr>
          <td>Comfirmer Mot de passe</td>
          <td>:</td>
          <td><input></td>
        </tr>
        <tr>
          <td>Site Web</td>
          <td>:</td>
          <td><input></td>
        </tr>
        <tr>
          <td>Ville</td>
          <td>:</td>
          <td><input></td>
        </tr>
        <tr>
          <td>Adresse</td>
          <td>:</td>
          <td><input></td>
        </tr>

        </tbody>
      </table>

    </ng-template>
  </div>
</div>
</div>
</div>
  </div>
</div>
<div class="modal-background" (click)=" close()"></div>
