<div class="modal" >
  <div class="modal-content">
    <div class="popup-container " >
      <div class="main" >
        <div class="card">
          <div class="card-body2">
            <div class="buttons-container">

              <button (click)="close()" ><i class="bi bi-x"></i></button>
            </div>

            <div class="leading-2">
              <i class="bi bi-exclamation-triangle-fill"></i>
              <h5 class="font-bold text-black" style="color:#120F4D; text-align:center;">Êtes-vous sûr(e)??</h5>
              <p>En supprimant votre profil, vous perdrez vos contacts ainsi que vos publications.<br>
                <span class="centered-text">Êtes-vous sûr(e) de vouloir continuer?</span></p>

            </div>

            <div class="button-container">
              <div class="button red-button">
                <input type="submit" value="Oui, sure">
              </div>
              <div class="button gray-button">
                <input type="submit" value="Non, annuler">
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
