<img src="assets/logo.png" alt="" class="logo">
<div class="main-container">
  <div class="blur-circle1">

  </div>
  <div class="blur-circle2">

  </div>
  <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <div class="sub1">
          <img src="assets/logo.png" alt="" class="logo">


        <a href="#" class="logo2"><b>InvestLink</b></a>
        </div>
        <ul class="links">
          <li>Accueil</li>
          <li>À propos</li>

          <li (click)="redirectToLogin()">Get Started</li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Recherchez-vous de partenariat ?</h1>
          <p>InvestLink Où les idées prennent vie et  les investissements prospèrent.<br>
            faciliter les rencontres entre startups et investisseurs afin de catalyser leur croissance grâce à un soutien financier efficace.</p>
          <button (click)="redirectToSignup()">S'inscrire</button>
        </div>
        <div class="image">
          <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Page -->
</div>
