
<div class="parent">
<div class="contianer">
    <div class="header">
        <div class="sub1">
            <img src="assets/logo.png" alt="" class="logo">
        </div>
        <div class="sub2">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">about</a></li>

            </ul>
        </div>
        <div>
            <button class="butt1" (click)=" redirectToLogin()">Se connecter</button>
            <button class="butt2" (click)="redirectToSignup()">S'inscrire</button>
        </div>
    </div>

    <div class="section">
        <div class="sub3">
            <h1 class="heading1">InvestLink</h1>
            <p class="heading2">Où les idées prennent vie et  les investissements prospèrent. </p>
            <p class="heading22">
                Nos objectifs sont clairs et ambitieux : faciliter les rencontres entre startups et investisseurs afin de catalyser leur croissance grâce à un soutien financier efficace. Nous visons à maximiser les opportunités d'investissement pour les investisseurs tout en construisant une communauté dynamique qui favorise la collaboration et le succès mutuel</p>
            <button class="butt1 butt3" (click)=" redirectToLogin()">Start Now</button>
        </div>
        <div class="sub4">
            <img src="assets/home.png" alt="" class="image2">

        </div>
    </div>
</div>
</div>
