<app-navbar></app-navbar>

<div class="parent">
  <!-- Navbar top -->
  <div class="navbar-top">
    <div class="title">
      <h1>Profile</h1>
    </div>
    <!-- End -->
  </div>
  <!-- End -->

  <!-- Sidenav -->
  <div class="sidenav">
    <div class="profile">
      <div class="name">
        InvestLink
      </div>
      <div *ngIf="role === 'Invest'; else startupBlock">
        <div class="job">
          Investisseur Description
        </div>
        <div class="sidenav-url">

          <div class="url">
            <a href="#profile" class="active">{{investisseur.profilDescription}} </a>

            <hr align="center">
          </div>
        </div>
      </div>

      <ng-template #startupBlock>
        <div>
          <div class="job">
            Startup Description
          </div>
          <div class="sidenav-url">

            <div class="url">
              <a href="#profile" class="active">{{startup.description}} </a>

              <hr align="center">
            </div>
          </div>
        </div>
      </ng-template>


    </div>


  </div>
  <!-- End -->

  <!-- Main -->
  <div class="main">
    <h2>Informations personnelles :</h2>
    <div class="card">
      <div class="card-body">

        <div class="buttons-container">

          <button class="blue-button" (click)="openModal(modalTemplate)"> <i class="bi bi-pencil-square"></i></button>
          <button class="red-button" (click)="openDeleteModal(modalDeleteProfileTemplate)"><i
              class="bi bi-trash-fill"></i></button>
        </div>

        <table *ngIf="role === 'Invest'; else startupDefenition">
          <tbody>
            <tr>
              <td>Nom</td>
              <td>:</td>
              <td>{{investisseur.nom}}</td>
            </tr>
            <tr>
              <td>Prenom</td>
              <td>:</td>
              <td>{{investisseur.prenom}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>:</td>
              <td>{{investisseur.email}}</td>
            </tr>
            <tr>
              <td>CIN</td>
              <td>:</td>
              <td>{{investisseur.cin}}</td>
            </tr>

            <tr>
              <td>Telephone</td>
              <td>:</td>
              <td>{{investisseur.tel}}</td>
            </tr>


          </tbody>
        </table>
        <ng-template #startupDefenition>
          <table>
            <tbody>
              <tr>
                <td>Le nom officiel</td>
                <td>:</td>
                <td>{{startup.nomstr}}</td>
              </tr>
              <tr>
                <td>Fondateur</td>
                <td>:</td>
                <td>{{startup.fondateur}}</td>
              </tr>
              <tr>
                <td>Domain d'activité</td>
                <td>:</td>
                <td>{{startup.domaine}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>:</td>
                <td>{{startup.email}}</td>
              </tr>
              <tr>
                <td>Site Web</td>
                <td>:</td>
                <td>{{startup.siteweb}}</td>
              </tr>
              <tr>
                <td>Ville</td>
                <td>:</td>
                <td>{{startup.ville}}</td>
              </tr>
              <tr>
                <td>Adresse</td>
                <td>:</td>
                <td>{{startup.lieu}}</td>
              </tr>

            </tbody>
          </table>

        </ng-template>
      </div>
    </div>

    <h2>Postes :</h2>
    <div class="card" *ngFor="let Post of Posts">
      <div class="card-body2">
        <div class="buttons-container">
          <button (click)="openModalPosteValidate(modalValidate,Post.id)" class="green-button"> <i
              class="bi bi-calendar-x-fill"></i></button>
          <button (click)="openModalPoste(modalPosteTemplate,Post)" class="blue-button"> <i
              class="bi bi-pencil-square"></i></button>
          <button (click)="openModalPosteDelete(modalDeletePosteTemplate,Post.id)" class="red-button"><i
              class="bi bi-trash-fill"></i></button>
        </div>
        <div class="profil-img"><i class="bi bi-person-circle"></i></div>

        <div class="leading-2">
          <h5 class="font-bold text-black" *ngIf="role === 'Invest'">{{investisseur.nom + ' ' + investisseur.prenom}}
          </h5>
          <h5 class="font-bold text-black" *ngIf="role === 'Start'">{{startup.nomstr}}</h5>
          <span class="custom-span">{{Post.datePoste}}</span>
          <h5 class="font-bold text-black" style="color:#120F4D; font-style: italic;text-align:center; ">Titre:new offre
          </h5>
          <h6 class="font-bold ">Domaine: {{Post.secteur}}</h6>
        </div>
        <div class="font-size-sm px-3 py-2 text-dark">
          <p class="smaller-text">{{Post.description}}</p>
        </div>
        <div class="post-image">
          <img [src]="getPostImageUrl(Post)" alt="Image du poste">
        </div>


      </div>
    </div>

  </div>
</div>

<ng-template #modalTemplate>
  <app-edit-profile></app-edit-profile>
</ng-template>
<ng-template #modalPosteTemplate>
  <app-edit-poste></app-edit-poste>
</ng-template>
<ng-template #modalDeleteProfileTemplate>
  <app-delete-profile></app-delete-profile>
</ng-template>
<ng-template #modalDeletePosteTemplate>
  <app-deleteposte></app-deleteposte>
</ng-template>
<ng-template #modalValidate>
  <app-deleteposte></app-deleteposte>
</ng-template>